.tecnologias {

  #habilidades {
    scroll-margin-top: 200px;
  }

  padding-left: 1rem;
  margin-left: 5rem;

  .h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #52a8ff;
  }

  .img {
    img {
      margin-left: 3.1rem;
      width: 50px;
      height: 50px;
    }
  }

  .habilidadesBlanda {
    margin: 3rem 0;

    .ulBlanda {
      list-style-type: none;
      text-align: center;
      padding: 0;

      .liBlanda {
        margin-bottom: 0.5rem;
        padding-left: 1rem;
      }
    }
  }
}
