.experienciaContainer {
  width: 100%;
  margin: auto;
}

.title {
  color: #14a1f0;
  font-size: 2rem;
}

.containerExperiencia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experienciaItem {
  .titleProyect {
    color: #f1f2f4;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .descrip {
    margin-bottom: 1rem;
  }

  .funciones {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em;
    margin-bottom: 1.5rem;

    li {
      display: flex;
      align-items: flex-start;
    }
    li::before {
      content: "🔹";
      margin-top: -0.3rem;
      font-size: 1.2rem;
    }
  }

  .tecnologiasUsadas {
    font-size: 1.1rem;
    position: relative;
    width: max-content;
    color: #edeef0e6;
    .flecha {
      position: absolute;
      transform: rotate(225deg);
      bottom: 62%;
      right: -8%;
    }
  }

  .ulProyect {
    list-style-type: none;
    padding: 0;
    display: flex;

    .liProyect {
      margin: 1rem 1rem 1rem 0;
      color: #14a1f0;
    }
  }
}
.enlacesPag {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  .aProyects {
    text-decoration: none;
  }

  .btnProyectos {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    background-color: #0077ff;
    color: #fff;
    border-radius: 0.25rem;
    margin-right: 0.7rem;
    transform: skew(-21deg);
    min-width: 8rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #0066cc;
      cursor: pointer;
    }

    .web {
      margin-left: 0.5rem;
    }
  }
}

.containerImg {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .containerImg {
    img {
      width: 170px;
    }
  }
}

@media (max-width: 1000px) {
  .experienciaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
  }
  .enlacesPag {
    justify-content: left;
  }
  .containerImg {
    img {
      width: 250px;
    }
  }
  .experienciaItem .descrip {
    max-width: 55%;
  }
}

@media (max-width: 650px) {
  .title {
    margin-left: 2rem;
  }
}

@media (max-width: 650px) {
  .containerExperiencia {
    padding: 0 2rem;
  }
  .experienciaItem {
    .funciones {
      display: flex;
      flex-direction: column;
    }
  }

  .containerImg {
    img {
      width: 200px;
    }
  }
}

@media (max-width: 450px) {
  .experienciaItem .descrip {
    max-width: 80%;
  }

  .containerImg {
    margin-left: -1rem;

    img {
      width: 175px;
    }
  }
}

@media (max-width: 360px) {
  .containerImg img {
    width: 150px;
  }
}
