.title {
  margin: 4rem 0 1rem 6rem;
  color: #14A1F0;
  font-size: 2rem;
}

.experienciaItem {
  margin: 0.5rem 0 0 6rem;

  .titleProyect {
    color: #F1F2F4;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .descrip {
    margin-bottom: 1rem;
    max-width: 70%;
  }

  .funciones {
    width: 130%;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em;
    margin-bottom: 1.5rem;

    li::before {
      content: "🔹"; 
      font-size: 1.2rem;
    }
  }

  .ulProyect {
    list-style-type: none;
    padding: 0;
    display: flex;

    .liProyect {
      margin: 1rem 1rem 1rem 0;
      color: #14a1f0;
    }
  }
}
.enlacesPag {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  .aProyects {
    text-decoration: none;
  }

  .btnProyectos {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    background-color: #0077ff;
    color: #fff;
    border-radius: 0.25rem;
    margin-right: 0.7rem;
    transform: skew(-21deg);
    min-width: 8rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #0066cc;
      cursor: pointer;
    }

    .web {
      margin-left: 0.5rem;
    }
  }
}

.containerImg {
  margin-top: 4rem;
  display: flex;
}

@media (max-width: 1200px) {
  .containerImg {
    img {
      width: 190px;
    }
  }
}

@media (max-width: 1000px) {
  .enlacesPag {
    justify-content: left;
  }
  .containerImg {
    img {
      width: 250px;
    }
  }
}

@media (max-width: 650px) {
  .title {
    margin-left: 2rem;
  }

  .experienciaItem {
    margin-left: 2rem;
  }
}

@media (max-width: 650px) {
  .experienciaItem {
    .funciones {
      display: flex;
      flex-direction: column;
    }
  }

  .containerImg {
    img {
      width: 200px;
    }
  }
}

@media (max-width: 450px) {
  .experienciaItem .descrip {
    max-width: 80%;
  }

  .containerImg {
    margin-left: -1rem;

    img {
      width: 175px;
    }
  }
}

@media (max-width: 360px) {
  .containerImg img {
    width: 150px;
  }
}
