.header {
  width: 79.4%;
  height: 7.6rem;
  margin: 0 auto;
  text-align: end;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(0, 11, 17);

  .ulHeader {
    padding: 0;
    margin: 0;

    .liHeader {
      display: inline-block;
      padding: 10px;
      margin: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #52a8ff;
      }
    }
    .contacto {
      margin-right: 0px;
      padding-right: 0px;
    }
  }
}
