.header {
  width: 80%;
  margin: 0 auto;
  text-align: end;

  .ulHeader {
    padding: 0;
    margin-bottom: 3rem;

    .liHeader {
      display: inline-block;
      padding: 10px;
      margin: 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #52a8ff;
      }
    }
    .contacto {
      margin-right: 0px;
      padding-right: 0px;
    }
  }
}
