* {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  scroll-behavior: smooth;
}

.main {
  width: 85%;
  display: flex;
  margin: auto;
}

@media (max-width: 1000px) {
  .main {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}

body {
  color: #c3c7cb;
  background-color: #0c151d;
}
