* {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  scroll-behavior: smooth;
}

.main {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 1420px) {
  .main {
    width: 98%;
  }
}

@media (max-width: 1000px) {
  .main {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}

body {
  color: rgba(255, 255, 255, 0.863);
  background-color: rgb(1, 3, 29);
}
