.info {
  width: 54%;
  overflow: hidden;

  .textoInfo {
    padding-left: 1rem;
    margin-left: 5rem;
    max-width: 60%;

    .pInfo {
      margin: 0px 0 2.4rem 0;

      .strongInfo {
        color: #52a8ff;
        display: block;
        margin-bottom: 0.3rem;
      }
    }
  }
}

@media (max-width: 1159px) {
  .info {
    width: 59%;
  }
}

@media (max-width: 1054px) {
  .info {
    .textoInfo {
      max-width: 77%;
    }
  }
}

@media (max-width: 1000px) {
  .info {
    width: 100%;

    .textoInfo {
      max-width: 51%;
    }

    .proyecs .proyectInfo .pProyects {
      max-width: 48%;
    }
  }
}

@media (max-width: 650px) {
  .info {
    .textoInfo {
      max-width: 100%;
      margin-left: 0;
      padding: 0;

      .pInfo {
        padding: 0 4rem;
        text-align: center;
      }
    }

    .titleProyectos {
      margin-left: 2rem;
    }

    .proyecs {
      .proyectInfo {
        margin-left: 2rem;

        .pProyects {
          max-width: 70%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .info .textoInfo .pInfo {
    padding: 0 2rem;
  }
}

@media (max-width: 412px) {
  .info .proyecs .proyectInfo .pProyects {
    max-width: 95%;
  }
}
