.info {
  width: 50%;
  margin: auto;
  margin-top: 3rem;
  .textoInfo {
    width: 100%;
    text-align: justify;
    margin: auto;
    margin-bottom: 20px;

    .pInfo {
      margin: 0px 0 2.4rem 0;

      .strongInfo {
        color: #52a8ff;
        display: block;
        margin-bottom: 0.3rem;
      }
    }
  }
}

@media (max-width: 1054px) {
  .info {
    .textoInfo {
      max-width: 77%;
    }
  }
}

@media (max-width: 1000px) {
  .info {
    width: 100%;

    .proyecs .proyectInfo .pProyects {
      max-width: 48%;
    }
  }
}

@media (max-width: 650px) {
  .info {
    .textoInfo {
      max-width: 100%;
      margin-left: 0;
      padding: 0;

      .pInfo {
        margin: auto;
        width: 85%;
      }
    }

    .titleProyectos {
      margin-left: 2rem;
    }
  }
}

@media (max-width: 500px) {
  .info {
    .proyecs .proyectInfo .pProyects {
      max-width: 95%;
    }
  }
}
