.botones {
  margin: 2rem 0 4rem 0rem;

  .btnContacto {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    background-color: #0077ff;
    color: #fff;
    border-radius: 0.25rem;
    margin-right: 0.7rem;
    transform: skew(-21deg);
    width: 7rem;
    transition: all 0.3s ease-in-out;

    .btnContent {
      display: flex;
      align-items: center;

      svg {
        margin-right: 0.5rem;
      }
    }

    &:hover {
      background-color: #0066cc;
      cursor: pointer;
    }
  }
}

@media (max-width: 1134px) {
  .botones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
  }
}

@media (max-width: 1054px) {
  .botones {
    margin: 2rem 0 0 1.7rem;
  }
}

@media (max-width: 1000px) {
  .botones {
    display: flex;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .botones {
    gap: 10px;
    .btnContacto {
      margin: 0;
    }
  }
}

@media (max-height: 783px) {
  .botones {
    margin-bottom: 1rem;
  }
}
