.botones {
  margin: 2rem 0 4rem 1.7rem;
 
  .btnContacto {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    background-color: #0077ff;
    color: #fff;
    border-radius: 0.25rem;
    margin-right: 0.7rem;
    transform: skew(-21deg);
    width: 7rem;
    transition: all 0.3s ease-in-out;
    
    .btnContent {
      display: flex;
      align-items: center;

      svg {
        margin-right: 0.5rem;
      }
    }

    &:hover {
      background-color: #0066cc;
      cursor: pointer;
    }
  }
}
