.presentacion {
  width: 36%;
  height: 800px;
  margin: 0 4rem 0 5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 13.2%;

  .foto {
    position: absolute;
    top: 0.3%;
    left: 5%;

    .fotoMia {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 3px solid rgb(255, 255, 255);
    }
  }

  .info {
    margin: 10rem 0 0 1.7rem;
    width: 100%;

    .titulo {
      font-size: 2rem;
      margin: 0;
    }

    .profesion {
      width: 70%;
      margin-top: 0.5rem;
      line-height: 1.1;

      .colorTexto {
        color: #52a8ff;
      }
    }

    .direccion {
      margin: 0;
    }

    .contacto {
      font-size: small;
    }
  }

  .navegacion {
    margin: 3rem 0 0 1.7rem;

    .ulMarcado {
      padding: 0px;

      .liMarcado {
        list-style: none;
        margin-bottom: 1.5rem;

        .lineaMarcadora {
          border-bottom: 1px solid rgb(255, 255, 255);
          width: 30px;
          display: inline-block;
          margin-right: 0.5em;
        }
      }
    }
  }

  .redes {
    margin: 3.5rem 0 0 1.7rem;

    .enlace {
      position: relative;
      text-decoration: none;
      color: inherit;

      &.uno {
        &::before {
          content: "linkedin";
          position: absolute;
          color: white;
          top: 130%;
          left: -13px;
          display: none;
        }

        &:hover::before {
          display: block;
        }
      }

      &.dos {
        &::before {
          content: "github";
          position: absolute;
          color: white;
          top: 130%;
          left: -10%;
          display: none;
        }

        &:hover::before {
          display: block;
        }
      }

      &.tres {
        &::before {
          content: "instagram";
          position: absolute;
          color: rgba(255, 255, 255, 0.959);
          top: 130%;
          left: -19px;
          display: none;
        }

        &:hover::before {
          display: block;
        }
      }
    }

    .logoRed {
      border-radius: 1px;
      margin-right: 4rem;
      position: relative;
      transition: all 0.3s ease-in-out;

      &.linkedin {
        &:hover {
          cursor: pointer;
          color: #0077b5;
        }
      }

      &.github {
        &:hover {
          cursor: pointer;
          color: #333;
        }
      }

      &.insta {
        &:hover {
          cursor: pointer;
          color: #833ab4;
        }
      }
    }
  }
}
