.presentacion {
  width: 36%;
  height: 710px;
  margin: 0 4rem 0 5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 13.8%;

  .foto {
    position: absolute;
    top: 0.3%;
    left: 5%;

    .fotoMia {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 3px solid rgb(255, 255, 255);
    }
  }

  .info {
    margin: 10rem 0 0 1.7rem;
    width: 100%;

    .titulo {
      font-size: 2rem;
      margin: 0;
    }

    .profesion {
      width: 70%;
      margin-top: 0.5rem;
      line-height: 1.1;

      .colorTexto {
        color: #52a8ff;
      }
    }

    .direccion {
      margin: 0;
    }

    .contacto {
      font-size: small;
    }
  }

  .navegacion {
    margin: 3rem 0 0 1.7rem;

    .ulMarcado {
      padding: 0px;

      .liMarcado {
        list-style: none;
        margin-bottom: 1.5rem;

        .lineaMarcadora {
          border-bottom: 1px solid rgb(255, 255, 255);
          width: 30px;
          display: inline-block;
          margin-right: 0.5em;

          &.active {
            border-bottom: 1px solid #52a8ff;
            width: 50px;
          }
        }
      }
    }
  }

  .redes {
    margin: 5.1rem 0 0 1.7rem;

    .enlace {
      position: relative;
      text-decoration: none;
      color: inherit;

      &.uno {
        &::before {
          content: "linkedin";
          position: absolute;
          color: white;
          top: 130%;
          left: -13px;
          display: none;
        }

        &:hover::before {
          display: block;
        }
      }

      &.dos {
        &::before {
          content: "github";
          position: absolute;
          color: white;
          top: 130%;
          left: -10%;
          display: none;
        }

        &:hover::before {
          display: block;
        }
      }

      &.tres {
        &::before {
          content: "instagram";
          position: absolute;
          color: rgba(255, 255, 255, 0.959);
          top: 130%;
          left: -19px;
          display: none;
        }

        &:hover::before {
          display: block;
        }
      }
    }

    .logoRed {
      border-radius: 1px;
      margin-right: 4rem;
      position: relative;
      transition: all 0.3s ease-in-out;

      &.linkedin {
        &:hover {
          cursor: pointer;
          color: #0077b5;
        }
      }

      &.github {
        &:hover {
          cursor: pointer;
          color: #333;
        }
      }

      &.insta {
        &:hover {
          cursor: pointer;
          color: #833ab4;
        }
      }
    }
  }

  .button {
    display: none;
  }
}

@media (max-width: 1159px) {
  .presentacion {
    margin: 0 0 0 4rem;

    .info .profesion {
      width: 91%;
    }
  }
}

@media (max-width: 1054px) {
  .presentacion {
    .navegacion {
      margin-top: 2rem;
    }
    .redes {
      margin-top: 3.1rem;
    }
  }
}

@media (max-width: 1000px) {
  .presentacion {
    margin: 0;

    .info .profesion {
      width: 89%;
    }
  }
}

@media (max-width: 1000px) {
  .presentacion {
    width: 100%;
    height: 100vh;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

    .foto {
      width: 100%;
      display: flex;
      justify-content: center;
      position: static;
      margin-top: 5rem;
    }

    .info {
      width: 51%;
      margin: 0;

      .titulo {
        margin-top: 1rem;
      }

      .direccion {
        margin-top: 0.5rem;
      }
    }
    .navegacion {
      display: none;
    }

    .redes {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-left: 4.2rem;
    }

    .containerFlecha {
      width: 100%;
      display: flex;
      justify-content: center;
      .button {
        cursor: pointer;
        background: none;
        border: none;
        display: flex;
        flex-direction: column;
        width: 70px;
        gap: 4px;
        transform-origin: center;
        transform: rotate(90deg);
        margin: 5rem 0rem 0 0.1rem;
      }

      .round {
        width: 6px;
        height: 6px;
        background: #3da9fc;
        border-radius: 50%;
      }

      .line {
        display: flex;
        gap: 4px;
      }

      .two {
        transform: translateX(10px);
      }

      .three {
        transform: translateX(20px);
      }

      .four {
        transform: translateX(30px);
      }

      .five {
        transform: translateX(20px);
      }

      .six {
        transform: translateX(10px);
      }
    }
  }
}

@media (max-width: 650px) {
  .presentacion {
    .info {
      width: 64%;
      text-align: center;

      .titulo {
        text-align: center;
      }

      .profesion {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .presentacion {
    margin: 0;
    .info {
      width: 77%;
    }
  }
}
